.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #257918;
    padding: 0.5rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


.navbar-link {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.2s, background 0.2s;
    border-radius: 18px;
    padding: 0.2em 1em;
}

.navbar-link.active {
    background: #d0f5c8;
    color: #257918;
    font-weight: 700;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.navbar-link:hover {
    color: #004d40;
}

.navbar-search input {
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    border: 1px solid #b2dfdb;
    outline: none;
    font-size: 1rem;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.profile-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 1rem;
}
